
#source figure, #source pre
  margin: 0px

/*--- app containers ---
.app-ctr 
    border: 1px solid #eed
    padding: 20px 
    position: relative

.app-ctr code 
    position: absolute
    top: 0px
    left: 0px
    font-family: mono
    color: #dcd
    font-size: 12px
    margin: 0px 2px

