@import 'variables'

#source 
  overflow: hidden
  width: 0%

//#source.show 
  width: 50%
  transition: width .5s

//#source.hide
  width: 0%
  transition: width .5s

#source, #source-btn
   transition: width .5s

#source figure, #source pre
  margin: 0px

#source-btn
  margin: 0px
  border: none
  background-color: $color-cream


/*--- app containers ---
.app-ctr 
    border: 1px solid #eed
    padding: 20px 
    position: relative

.app-ctr code 
    position: absolute
    top: 0px
    left: 0px
    font-family: mono
    color: #dcd
    font-size: 12px
    margin: 0px 2px

