/*--- colors ---*/

.blue {
    color: #151a2c;
}
.bg-blue {
    background-color: #151a2c;
}
.bg-bleu {
    background-color: #5c96c8;
}
.red {
    color: #e84a43;
}
.bg-red {
    background-color: #e84a43;
}
.white {
    color: #fff;
}
.bg-white {
    background-color: #fff;
} 

