---
layout: default
---

<div class="grow flex-h">

    <aside id="about" class="flex-v center stretch"> 
    <img id="portrait"
         src="/assets/img/selfie.jpg"
         alt="opeltre in front of his library">

    <h1 id="opeltre"> Olivier Peltre </h1>
    <div> Postdoc at CRIL-CNRS</div> 
    <div> Lens, France</div>
    <div class="email"> olivier@peltre.xyz </div> 
    </aside>  

    <main class="grow">
        <div class="page" id="about">
            {{content}}
        </div> 
    </main> 

</main> 
